{
    "presets": [
        ["@babel/preset-env",
            {
                "corejs": 3,
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ],
                    "ie": 11
                }
            }
        ],
        [
            "@babel/typescript"
        ]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        [
            "@babel/plugin-transform-react-jsx"
        ]
    ]
}